<div class="orders-container">
  <h2>All Orders</h2>

  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Total</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td (click)="viewOrder(order)">{{ order.id }}</td>
        <td (click)="viewOrder(order)">{{ order.date }}</td>
        <td (click)="viewOrder(order)">{{ getPrice(order.total) }}</td>
        <td (click)="viewOrder(order)">{{ order.status }}</td>
        <td>
          <button class="delete-btn" (click)="openDeleteModal(order); $event.stopPropagation()">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

 <!-- Order Details Modal -->
<div class="order-modal" *ngIf="selectedOrder">
  <div class="order-modal-body">
    <h3>Order #{{ selectedOrder.id }}</h3>
    <p><strong>Date:</strong> {{ selectedOrder.date }}</p>
    <p><strong>Total:</strong> {{ getPrice(selectedOrder.total) }}</p>
    <p><strong>Status:</strong> {{ selectedOrder.status }}</p>

    <h4>User Info</h4>
    <p><strong>Name:</strong> {{ selectedOrder.userInfo.name }}</p>
    <p><strong>Country:</strong> {{ selectedOrder.userInfo.country }}</p>
    <p><strong>Phone:</strong> {{ selectedOrder.userInfo.phone }}</p>
    <p><strong>Address:</strong> {{ selectedOrder.userInfo.address }}</p>

    <h4>Products</h4>
    <ul>
      <li *ngFor="let item of selectedOrder.items">
      Id:  {{item.id}} - {{ item.title }} - Qty: {{ item.quantity }} - <span>{{ getPrice(item.price) }}</span>
      </li>
    </ul>

    <button (click)="closeOrder()">Close</button>
  </div>
</div>


  <!-- Delete Confirmation Modal -->
  <div class="modal" *ngIf="showDeleteModal">
    <div class="modal-content">
      <h3>Are you sure you want to delete this order?</h3>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeDeleteModal()">Cancel</button>
        <button class="confirm-btn" (click)="confirmDeleteOrder()">Delete</button>
      </div>
    </div>
  </div>
</div>
