/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Dark mode for navbar and sidebar */
  body.dark-mode{
    background-color: #1f1f1f;
  

.navbar {
    background-color: #1f1f1f;
  }
  

  .sidebar {
    background-color: #1f1f1f;
    color: #f0f0f0;
  }

  .overlay.show {
    background: rgba(0, 0, 0, 0.7);
  }
  .dropdown-menu {
    background-color: #1f1f1f;
    color: #f0f0f0;
     border: 1px solid #444;
  }
  

  }




